<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Lenguaje</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of libros">
                <th scope="row">{{item.ID}}</th>
                <td>{{item.title}}</td>
                <td>{{item.author}}</td>
                <td>{{item.language}}</td>
                <td>
                    <button class="btn btn-primary" (click)="LibroDetail(item.ID)">
                        <i class="fa fa-eye"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>